<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <div class='navbar'>
    <p>
        <a href='/index'>Home</a> | <a href='/login'>Login</a> | <a href='/showdata'>Loading data</a> | <a href='/insert'>Insert Data</a>| <a href='/insertpro'>Insert Product</a>| <a href='/search'>Search Product</a>
    </p>
    </div>
